@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 15px 20px;
}

header {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-container h1 {
  font-size: 22px;
}

.ham-menu {
  width: 30px;
  cursor: pointer;
}

.nav-link {
  list-style: none;
  position: absolute;
  padding: 15px 20px;
  top: 40px;
  right: 0;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.nav-link li {
  margin-bottom: 6px;
}

.nav-link a {
  text-decoration: none;
  color: black;
}

.nav-link a:hover {
  color: blue;
}

.main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: start;
  margin: 4rem 0;
}

.content {
  width: 100%;
  margin-top: 2rem;
}

.content article {
  margin: 0 auto;
}

.content article h1 {
  margin-bottom: 1rem;
  font-size: 22px;
}

.content article p {
  font-size: 16px;
  line-height: 1.4rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.img-article {
  width: 25rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: scale 300ms ease-in-out;
}

.img-article:hover {
  scale: 0.9;
}

.author {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 3px solid whitesmoke;
}

.author-content-2 h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 5px 0;
}

.author-content-2 h4 {
  font-weight: 600;
  font-size: 18px;
  color: blue;
  margin-bottom: 16px;
}

.author-photo {
  width: 100px;
  border-radius: 50%;
}

.author-contact {
  list-style: none;
  display: flex;
  gap: 24px;
}

.author-contact li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.author-contact li a span {
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding: 5px 5rem;
  }

  .ham-menu {
    display: none;
  }

  .nav-link {
    display: flex;
    position: static;
    box-shadow: none;
    gap: 3rem;
    border-radius: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 5px 10rem;
  }
}

@media (min-width: 768px) {
  .content {
    width: 70%;
    border-right: 3px solid whitesmoke;
    padding-right: 1.5rem;
  }

  .content article {
    text-align: center;
  }

  .content article h1 {
    text-align: left;
  }

  .img-article {
    width: 45rem;
  }

  .author {
    width: 30%;
    gap: 8px;
    border-bottom: none;
  }

  .author-content-1 {
    width: 100%;
    text-align: center;
  }

  .author-content-1 img {
    width: 150px;
  }

  .author-content-2 {
    width: 100%;
    text-align: center;
  }

  .author-contact {
    justify-content: center;
  }
}
